
<!--========== top header ==========-->
<div class="general-top-header dashboard-header">
    <!-- Swiper Wrapper -->
    <div class="swiper-wrapper">
        <div class="s-promo-block-v4 g-fullheight--xs g-bg-position--center swiper-slide" style="background: url('assets/img/1920x1080/real-estate-bg-dark.jpg');">
            <div class="container g-ver-center--xs">
                <div class="row">
                    <div class="col-md-7">
                        <div class="g-margin-b-50--xs">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Swiper Wrapper -->
