<app-navbar2></app-navbar2>
<app-header2></app-header2>
<app-admindashbreadcomb></app-admindashbreadcomb>
    <!-- Data Table area Start-->
    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <ng-flash-message></ng-flash-message>
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h2>Users</h2>
                            <p>All Registered Users on the Hamock platform.</p>
                        </div>
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Full Name</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users">
                                        <td>{{user.name}}</td>
                                        <td>{{user.username}}</td>
                                        <td>{{user.email}}</td>
                                        <td><a class="btn btn-success notika-btn-success waves-effect" [routerLink]="['/admin/user/'+user.username]"  >View</a></td>

                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Full Name</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th></th>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Data Table area End-->

              <!--<input type="button" (click)="verifyUser(user._id)" value="Activate" class="btn btn-info"> -->
